<!-- author : anuvabh -->
<!DOCTYPE html>
<html>
<head>
	<title>Tweet Reader</title>
</head>
<body>
	<button id = "save-tweets"> Save</button>
	<div id="tweets"></div>

	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="loadTweets.js"></script>
	<script type="text/javascript" src="tweetOps.js"></script>
</body>
</html>